.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 2rem;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.top strong {
    font-size: 30px;
}

.low {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(26, 25, 25);
    padding: 40px;
    border-radius: 10px;
    width: 450px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 34, 34);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.center img {
    width: 120px;
}

.noResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 50vh;
}

.noResult button {
    border: 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

@media screen and (max-width: 500px ){
    .low {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: rgb(26, 25, 25);
        padding: 40px;
        border-radius: 10px;
        width: 370px;
        font-size: 13px;
    }
}